table  {
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
}

tr {
  height: 50px;
  text-align: center;
}

td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  padding:10px 5px;
}

.last_col { width: 50%; }

.column_first {
  background: #558585;
}

.column_first:hover {
  background: #855E48;
}

.column_second {
  background: #f5f555;
}

.column_second:hover{
  background: #290054;
}

.ball {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid black;
}

.first {
  background: rgba(255, 0, 0, 0.6);
  z-index: 1;
  left: 500px;
  top: 500px;
}

.second {
  background: rgba(0, 255, 0, 0.6);
  z-index: 3;
  left: 400px;
  top: 650px;
}

.third {
  background: rgba(0, 0, 255, 0.6);
  z-index: 2;
  left: 600px;
  top: 650px;
}

.container{
  width: 500px;
  height: 500px;
  margin-top: 10px;

  position: relative;
}

.first-transform {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: blue;
  border: 2px solid black;
  opacity: 0.6;

  position: absolute;
  top: 150px;
  left: 100px;

}

.second-transform{
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: green;
  border: 2px solid black;
  opacity: 0.6;

  position: absolute;
  top: 150px;
  left: 170px;
}

.third-transform{
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: red;
  border: 2px solid black;
  opacity: 0.6;

  position: absolute;
  top: 80px;
  left: 135px;
}